.property-container {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.property-image {
  width: 100%;
  height: 270px;
}

.property-details-section {
  padding-bottom: 8px;
  border-bottom: 2px solid grey;
}

.detail-container-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.property-expenses-and-revenue-container {
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid grey;
}

.expenses-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.key-metrics-container {
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid grey;
}

.key-metrics-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.more-metrics-button {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.monthly-expense-container {
  display: flex;
  justify-content: space-between;
}

.monthly-expense-value-conatiner {
  display: flex;
}